body {
    font-family: 'Poppins', sans-serif ;
    font-size: large;
    margin: unset;
}


.button {
background-color: #6CB840;
color: white;
border-radius: 25px;
font-size: medium;
border: hidden;
font-weight: bold;
padding: 10px;
}


.page1 {
    background-image: url("image.png");
    background-attachment: fixed;
    
}


ul li {
    display: inline-block; 
    margin-right: 75px; 
    margin-top: 65px;
}


a {
    text-decoration: none;
    color: black; 
}


.pg1h {
    display: inline-block;
    margin-right: 10px;
    font-weight: 600;
}


#pg1h1 {
    color: #6CB840;
    margin-left: 60px;
}


#pg1h2 {color: #EAAB1B;}


#pg1h3 { 
    margin-left: 60px;
}


#pg1p1 {
width: 500px;
height: 50px;
font-size: large;
margin-left: 60px;
}


#pg1bu1 {
margin-left: 60px;

}


.page2 {
    float: right;
    background-color: white;
}


#pg2h1 {
    color: #EAAB1B;
    text-align: center;
    font-weight: 500;
} 


#pg2i1 {
    float: left;
    width: 750px;
    height: auto;
}


#pg2p1 {
    background-color: #649549;
    text-align: center;
}


.page3 {background-color: #C9ECB5;}


.pg3h {
    display: inline-block;
    text-align: center;
    width: fit-content;
}

#pg3h1 {
    margin-left: 42%;
}

#pg3h2 {color: #6CB840;}



#pg3i1 {
    float: left;
    size: 50%; 
}

img {
    width: 850px ;
    height: auto;
}





.pg3im1 {
    width: 200px;
    height: auto;
    position: absolute;
    left: 50px;
    top: 1280px;
    z-index: 1;
}


#pg3p1a { font-size: small;
}


#pg3p1 {
font-size: small;
width: 250px ;
height: 140px;
text-align: center;
margin-left: 180px;
background-color: azure;
border-radius: 10% 10% 26% 10% / 0% 0% 29% 0% ;
}

.pg3im2 {
    width: 200px;
    height: auto;
    position: absolute;
    left: 440px;
    top: 1280px;
    z-index: 1;
}

#pg3p2 {
width: 250px ;
height: 140px;
text-align: center;
margin-left: 140px;
background-color: azure;
border-radius: 10% 10% 26% 10% / 0% 0% 29% 0% ;
}

.pg3im3 {
    width: 200px;
    height: auto;
    position: absolute;
    left: 840px;
    top: 1280px;
    z-index: 1;
}

#pg3p3 {
width: 250px ;
height: 140px;
text-align: center;
margin-left: 140px;
background-color: azure;
border-radius: 10% 10% 26% 10% / 0% 0% 29% 0% ;
}

.pg3im4 {
    width: 200px;
    height: auto;
    position: absolute;
    left: 50px;
    top: 1555px;
    z-index: 1;
}

#pg3p4 {
width: 250px ;
height: 140px;
text-align: center;
margin-left: 180px;
background-color: azure;
border-radius: 10% 10% 26% 10% / 0% 0% 29% 0% ;
}

.pg3im5 {
    width: 200px;
    height: auto;
    position: absolute;
    left: 440px;
    top: 1555px;
    z-index: 1;
}

#pg3p5 {
width: 250px ;
height: 140px;
text-align: center;
margin-left: 140px;
background-color: azure;
border-radius: 10% 10% 26% 10% / 0% 0% 29% 0% ;
}

.pg3im6 {
    width: 200px;
    height: auto;
    position: absolute;
    left: 840px;
    top: 1555px;
    z-index: 1;
}

#pg3p6 {
width: 250px ;
height: 140px;
text-align: center;
margin-left: 140px;
background-color: azure;
border-radius: 10% 10% 26% 10% / 0% 0% 29% 0% ;
}

.strong1 {
    text-align: left;
}

#strong11 {
    text-align: left;
}

.pg3pc {
    display: inline-block;
    font-size: small;
}



#pg4h1 {
margin-left: 43%;

}

#pg4h2 {color: #6CB840;}

.page4 {
    background-color: #649549;
}

.pg4h {
    display: inline-block;
    text-align: center;
    width: fit-content;
}

#pg4i1 {
    width: 300px;
    height: 500px;
}

#pg4i2 {
    width: auto;
    height: 400px;
    
}

.pg4i {
    float: left;
}

#pg4h3 {
    color: #6CB840;

}

.page5 {background-color: #FFD77C;}

.pg5h {
    display: inline-block;
    text-align: center;
    width: fit-content;
}

#pg5h1 {
    margin-left: 43%;
}

#pg5h2 {color: #6CB840;}

#pg5p1 {
    text-align: center;
}

#pg5in1 {
    text-align: left;
    padding: 8px;
    border-radius: 20px;
    border-style: none;
    align-self: center;
    margin-left: 42%;
}

.pg5in {
    text-align: center;
}

#pg5bu1 {
    text-align: center;
    margin-left: 46%;

}

.page6 {
    background-color: #C9ECB5;
}

.pg6sctns {
    display: inline-block;
    margin-left: 100px;
}

